<section class="overflow-hidden bg-[var(--x15)] flex tm:flex-col items-center p:max-h-[345px]">
  <h2 class="text-center text-[var(--white)] p:w-[48%] font-black p:text-[38px] t:text-[42px] m:text-[28px] t:py-[50px] m:py-[20px]">CAREERS<br/>人才招募</h2>
  <%- require('img.ejs')({
    path: require('@imgs/careers/firstclass_fitness_outdoor.jpg'),
    alt : '室外形象',
    style: {
      main: 'p:w-full p:h-full t:hidden m:w-[375px] m:h-[180px]',
      img: 'object-cover object-center'
    }
  }) %>
</section>
<section class="text-[var(--white)] bg-[var(--black)] p:p-[60px] t:p-[50px] m:p-[30px]">
  <div class="p:mx-auto p:w-[900px]">
    <h3 data-aos="fade-up" class="font-bold p:text-[38px] p:mb-[30px] tm:text-[30px] tm:mb-[22px]">歡迎加入 FIRST CLASS FITNESS 的大家庭</h3>
    <div class="p:flex p:items-center">
      <div data-aos="fade-up" class="p:w-1/2 p:text-[14px] t:pb-[24px] m:pb-[10px]">
        <h4 class="font-bold p:text-[24px] tm:text-[26px] tm:mb-[8px]">應徵條件</h4>
        <ol class="m-list --order tm:space-y-[8px] p:mb-[12px] tm:mb-[20px]">
          <li v-for="item in store.careers.condition" class="font-bold p:text-[16px] p:leading-9">
            {{ item }}
          </li>
        </ol>
        <h4 class="font-bold p:text-[24px] tm:text-[26px] tm:mb-[8px]">工作內容</h4>
        <ol class="m-list --order tm:space-y-[8px]">
          <li v-for="item in store.careers.work" class="font-bold p:text-[16px] p:leading-9">
            {{ item }}
          </li>
        </ol>
      </div>
      <%- require('img.ejs')({
        path: require('@imgs/careers/firstclass_fitness_equipments.jpeg'),
        alt : '健身訓練器材',
        style: {
          main: 'p:ml-[70px] p:w-[363px] p:h-[363px]',
          img: 'object-cover object-center'
        }
      }) %>
    </div>
  </div>
</section>
<section class="text-[var(--white)] bg-[var(--x15)] p:p-[60px] t:text-center t:p-[40px] m:p-[20px]">
  <div data-aos="fade-up" class="p:mx-auto p:w-[820px]">
    <h3 class="font-bold p:text-[38px] p:mb-[70px] tm:text-[32px] tm:mb-[20px]">目前開放職缺 JOBS OPEN</h3>
    <ul class="p:space-y-[68px] tm:space-y-[40px]">
      <li class="p:flex" v-for="job, index in store.jobs">
        <h4 class="font-bold p:flex-grow p:text-[24px] tm:text-[30px] tm:mb-[10px]">{{job.title}}</h4>
        <ol class="m-list --order p:flex-shrink-0 p:w-1/2 p:text-[16px] tm:text-[14px] tm:leading-6">
          <li v-for="item in job.cnt">{{item}}</li>
        </ol>
      </li>
    </ul>
  </div>
</section>
<section class="text-[var(--white)] bg-[var(--black)] p:px-[60px] p:py-[110px] t:p-[50px] m:p-[30px]">
  <div data-aos="fade-up" class="p:flex p:w-[900px] p:mx-auto">
    <%- require('img.ejs')({
      path: require('@imgs/service/firstclass_fitness_equipment.jpeg'),
      alt : '健身訓練器材',
      style: {
        main: 'p:flex-shrink-0 p:mr-[70px] p:w-[363px] p:h-[363px]',
        img: 'object-cover object-center'
      }
    }) %>
    <div class="flex-grow t:mt-[24px] m:mt-[10px]">
      <h3 class="font-bold p:text-[40px] tm:text-[30px] p:mb-[20px] tm:mb-[16px]">福利與待遇</h3>
      <div>
        <p class="p:text-[16px] t:text-[18px]">我們會依照你的能力訂定目標，讓整個團隊不斷成長，<br class="p:hidden"/>當你達到當月目標，便可擁有...</p>
        <p class="p:text-[16px] t:text-[18px]"><b class="ani-special p:text-[32px] t:text-[48px] m:text-[32px]">『自由班』</b>和學生有約再來，掌控個人時間</p>
      </div>
      <div class="p:mt-[24px] tm:mt-[18px]">
        <p class="p:text-[16px] t:text-[18px]">沒有任何經驗或是背景怎麼辦 ?<br>不用擔心！<br class="p:hidden"/>我們擁有多年的教學經驗，能提供你完整的健身教練培訓計畫，在這裡你能學到：</p>
        <ul class="flex items-center m:flex-wrap p:space-x-[36px] p:mt-[18px] t:mt-[24px] m:mt-[18px] text-center m:px-[20px] m:space-y-[12px]">
          <li class="t:w-1/4 m:w-1/2">
            <%- require('@component/svg.ejs')({
              svgName: 'icon_revenue',
              style: {
                main: 'mx-auto text-[var(--white)] p:w-[48px] p:h-[48px] t:w-[108px] m:w-[60px] t:h-[108px] m:h-[54px] order-1'
              }
            }) %>
            <h4 class="p:text-[14px] t:text-[18px] m:text-[14px] p:mt-[4px] m:mt-[4px] t:mt-[12px]">銷售技巧</h4>
          </li>
          <li class="t:w-1/4 m:w-1/2">
            <%- require('@component/svg.ejs')({
              svgName: 'icon_muscle',
              style: {
                main: 'mx-auto text-[var(--white)] p:w-[48px] p:h-[48px] t:w-[120px] m:w-[60px] t:h-[108px] m:h-[54px] order-1'
              }
            }) %>
            <h4 class="p:text-[14px] t:text-[18px] m:text-[14px] p:mt-[4px] m:mt-[4px] t:mt-[12px]">專業知識進修</h4>
          </li>
          <li class="t:w-1/4 m:w-1/2">
            <%- require('@component/svg.ejs')({
              svgName: 'icon_management',
              style: {
                main: 'mx-auto text-[var(--white)] p:w-[48px] p:h-[48px] t:w-[120px] m:w-[60px] t:h-[108px] m:h-[54px] order-1'
              }
            }) %>
            <h4 class="p:text-[14px] t:text-[18px] m:text-[14px] p:mt-[4px] m:mt-[4px] t:mt-[12px]">人際關係與溝通</h4>
          </li>
          <li class="t:w-1/4 m:w-1/2">
            <%- require('@component/svg.ejs')({
              svgName: 'icon_social_media',
              style: {
                main: 'mx-auto text-[var(--white)] p:w-[48px] p:h-[48px] t:w-[120px] m:w-[60px] t:h-[108px] m:h-[54px] order-1'
              }
            }) %>
            <h4 class="p:text-[14px] t:text-[18px] m:text-[14px] p:mt-[4px] m:mt-[4px] t:mt-[12px]">自媒體行銷</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="text-[var(--white)] bg-[var(--x15)] p:p-[60px] tm:p-[30px]">
    <h3 data-aos="fade-right" class="text-center font-bold p:text-[56px] tm:text-[40px] tm:mb-[22px]">我要加入</h3>
    <p data-aos="fade-right" class="text-center p:text-[16px] tm:text-[18px]">可直接來電或臉書IG諮詢<br/>應徵後 7 天內會通知面試時間，如未採納則不另行通知</p>
    <%- require('@component/mBtn.ejs')({
      label: '我要應徵',
      link: 'https://www.1111.com.tw/corp/117086444/#crop_jobs',
      style: {
        main: '--border mx-auto p:text-[14px] tm:text-[16px] p:w-[142px] mt-[30px] h-[42px] tm:w-[170px]'
      }
    }) %>
</section>