<div class="h-full">
  <section class="kv w-full flex flex-col items-center p:p-[80px] tm:p-[30px]">
    <h2 class="text-[var(--white)] p:font-black tm:font-bold tracking-[-0.05em] p:text-[82px] tm:text-[40px] order-2">頭等倉運動空間</h2>
    <%- require('@component/svg.ejs')({
      svgName: 'logo',
      style: {
        main: 'text-[var(--white)] p:w-[68px] p:h-[60px] tm:w-[60px] tm:h-[54px] order-1'
      }
    }) %>
    <h3 class="text-[var(--white)] p:font-black tm:font-bold tracking-[-0.05em] p:text-[30px] tm:text-[24px] tm:mt-[10px] order-3">肌力強化。體態改善。<br class="p:hidden">減脂課程。專項訓練</h3>
    <%- require('@component/mBtn.ejs')({
      label: '即刻預約',
      link: 'https://docs.google.com/forms/d/e/1FAIpQLSdyIMF1EHcdkUKsr6EY7b3o6dQgXuQfB6XiKzTJqid_7FO0Bg/viewform',
      style: {
        main: 'order-4 p:text-[18px] text-[var(--white)] p:w-[244px] mt-[30px] p:h-[45px] t:w-[216px] t:h-[60px] m:w-[140px] m:h-[46px]'
      }
    }) %>
  </section>
  <section class="flex tm:flex-col">
    <div class="tm:order-2 flex justify-center items-center p:w-1/2 text-[var(--white)] p:p-[60px] tm:p-[34px] bg-[var(--black)]">
      <div class="p:w-[350px]">
        <h2 class="font-bold p:text-[48px] tm:text-[30px] tm:text-center leading-[1.2] tracking-[-0.03em]">
          用自由的心態<br>​打造完美的體態
        </h2>
        <p class="p:mt-[30px] tm:mt-[24px] text-[14px]">我們相當重視教練與學員間的互動，在訓練計畫中，我<br class="tm:hidden">們的教練不僅透過視覺、聽覺，並施以協助動能來輔以<br class="tm:hidden">更優化的動作回饋，讓您以最高效的方式達成最好的學<br class="tm:hidden">習效果。</p>
        <%- require('@component/mBtn.ejs')({
          label: '專業團隊',
          link: '/ourteam.html',
          style: {
            main: 'order-4 p:text-[18px] text-[var(--white)] p:w-[244px] mt-[30px] p:h-[45px] tm:w-[205px] tm:h-[45px] tm:mx-auto tm:mb-[20px]',
            icon: 'w-[45px]'
          },
          icon: {
            name: 'arrow',
            css: 'p:w-[18px] p:h-[18px] tm:w-[24px] tm:h-[24px]'
          }
        }) %>
      </div>
    </div>
    <div class="tm:order-1 p:w-1/2">
      <%- require('img.ejs')({
        path: require('index/firstclass_fitness_indoor.jpg'),
        alt : '室內訓練環境',
        style: {
          main: 'w-full h-full',
          img: 'object-cover object-center'
        }
      }) %>
    </div>
  </section>
  <section class="text-[var(--white)] bg-[var(--x1f1d)] p:p-[80px] tm:py-[42px] tm:px-[20px]">
    <div class="p:flex p:items-center p:max-w-[1400px]">
      <h2 class="p:flex-shrink-0 tracking-[-0.05em] font-black p:text-[72px] tm:text-[42px] tm:text-center">課程規劃</h2>
      <div class="p:flex-grow tm:pt-[20px]">
        <p class="p:ml-[80px] p:w-[490px] text-[14px]">一對一私人教練、團體課程、體態評估、筋膜放鬆、自由教練場租、舞蹈班場地租借等，我們試圖不斷開發多元服務，並提供來自頭等倉的所有教練與學員細緻的服務與完整的行銷規劃，讓一切事半功倍。</p>
      </div>
      <%- require('@component/mBtn.ejs')({
        label: '服務項目',
        link: '/service.html',
        style: {
          main: 'p:flex-shrink-0 p:self-end p:text-[18px] p:mb-[-40px] text-[var(--white)] p:w-[244px] p:mt-[30px] tm:mt-[38px] p:h-[45px] tm:mx-auto tm:w-[205px] tm:h-[45px]',
          icon: 'w-[45px]'
        },
        icon: {
          name: 'arrow',
          css: 'p:w-[18px] p:h-[18px] tm:w-[24px] tm:h-[24px]'
        }
      }) %>
    </div>
  </section>
  <section class="p:p-[20px] bg-[var(--black)] text-[var(--white)]">
    <h2 class="sr-only">instargram 文章</h2>
    <div class="text-center p:hidden tm:p-[40px]">
      <a href="https://www.instagram.com/tpfc.fit" target="_blank" rel="noopener" class="block overflow-hidden rounded-full w-[90px] h-[90px] mx-auto mb-[10px] border border-solid border-[var(--white)]">
        <%- require('img.ejs')({
          path: require('@imgs/index/ig_profile.jpg'),
          alt : 'instagram image',
          style: {
            main: 'w-full h-full',
            img: 'object-cover object-center'
          }
        }) %>
      </a>
      <a href="https://www.instagram.com/tpfc.fit" target="_blank" rel="noopener" class="text-[20px] text-[var(--white)]">
        tpfc.fit
      </a>
      <%- require('@component/mBtn.ejs')({
        label: 'Follow us',
        link: 'https://www.instagram.com/tpfc.fit',
        style: {
          main: 'text-[var(--white)] mt-[30px] tm:w-[205px] tm:h-[45px] tm:mx-auto',
          icon: 'w-[45px]'
        },
        icon: {
          name: 'logo_ig',
          css: 'tm:w-[20px] tm:h-[20px]'
        }
      }) %>
    </div>
    <ul class="flex flex-wrap tm:p-[4px]">
      <li v-for="item, index in store.post" class="p-[4px] p:w-1/4 tm:w-1/2">
        <a :href="item.link" target="_blank" rel="noopener" class="m-post relative">
          <figure class="w-full h-full">
            <img class="object-cover object-center lazy" :alt="`${item.alt} | first class 頭等倉運動空間`" :src="item.img">
          </figure>
          <p class="m-post-hover absolute top-0 left-0 w-full h-full bg-[#fff] bg-opacity-60 font-bold text-[var(--black)] p:p-[30px] p:text-[20px]" v-html="item.cnt"></p>
        </a>
      </li>
    </ul>
  </section>
  <section class="p:p-[30px] bg-[var(--black)] text-[var(--white)] tm:border-[var(--x1f1d)] tm:border-solid tm:border-t-[1px]">
    <h2 class="sr-only">學員推薦</h2>
    <ul class="p:flex p:flex-wrap p:h-[270px]">
      <li v-for="item, index in store.comment" :class="{ 'p:border-r-[1px] tm:border-b-[1px] border-solid tm:border-[var(--white)]': index !== store.comment.length -1}" class="p:w-1/3">
        <div class="text-right p:max-w-[420px] p:px-[30px] tm:p-[20px]">
          <p class="text-left p:text-[18px] tm:text-[20px] p:my-[40px] tm:py-[10px]" v-html="item.cnt"></p>
          <em class="font-bold text-[20px]">{{ item.name }}</em>
        </div>
      </li>
    </ul>
  </section>
  <ul class="p:flex p:flex-wrap">
    <li class="p:w-1/3">
      <%- require('img.ejs')({
        path: require('@imgs/index/firstclass_fitness_indoor.jpg'),
        alt : '史密斯機、夾胸機、背部下拉訓練機',
        style: {
          main: 'w-full h-full',
          img: 'object-cover object-center'
        }
      }) %>
    </li>
    <li class="p:w-1/3">
      <%- require('img.ejs')({
        path: require('@imgs/index/firstclass_fitness_indoor2.jpg'),
        alt : '室內訓練環境',
        style: {
          main: 'w-full h-full',
          img: 'object-cover object-center'
        }
      }) %>
    </li>
    <li class="p:w-1/3">
      <%- require('img.ejs')({
        path: require('@imgs/index/firstclass_fitness_indoor3.jpg'),
        alt : '有氧器材',
        style: {
          main: 'w-full h-full',
          img: 'object-cover object-center'
        }
      }) %>
    </li>
    <li class="p:w-1/3">
      <%- require('img.ejs')({
        path: require('@imgs/index/firstclass_fitness_indoor4.jpg'),
        alt : '跳箱、啞鈴器材',
        style: {
          main: 'w-full h-full',
          img: 'object-cover object-center'
        }
      }) %>
    </li>
    <li class="p:w-1/3">
      <%- require('img.ejs')({
        path: require('@imgs/index/firstclass_fitness_indoor5.jpg'),
        alt : '啞鈴器材重量',
        style: {
          main: 'w-full h-full',
          img: 'object-cover object-center'
        }
      }) %>
    </li>
    <li class="p:w-1/3">
      <%- require('img.ejs')({
        path: require('@imgs/index/firstclass_fitness_bathroom.jpg'),
        alt : '洗手間、淋浴間環境',
        style: {
          main: 'w-full h-full',
          img: 'object-cover object-center'
        }
      }) %>
    </li>
  </ul>
</div>