<%
  const TITLENAME = 'First Class 頭等倉運動空間';
  const TITLE = htmlWebpackPlugin.options.title ? `${htmlWebpackPlugin.options.title} | First Class 頭等倉運動空間` : TITLENAME;
  const fileName = /(.*)(?=\.html$)/.exec(htmlWebpackPlugin.options.filename)[1];
  const reqFile = require('./views/'+ fileName +'.ejs')({
                    htmlWebpackPlugin
                  });
  const activityURL = 'https://tpfc-finess.com'
  const ogImageURL = 'https://tpfc-finess.com'
-%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta property="og:title" content="<%- TITLE %>">
    <meta property="og:description" name="description" content="<%- htmlWebpackPlugin.options.description || '' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- activityURL %>">
    <meta property="og:image" content="<%- ogImageURL %>static/img/FB_share.png">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="<%- TITLE %>">
    <title><%- TITLE %></title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="canonical" href="<%- activityURL %>">
    <link rel="alternate" href="<%- activityURL %>" />
  </head>
  <body>
    <div class="l-wrap flex flex-col min-h-screen tm:overflow-hidden bg-[var(--black)] jWrap" @vue:mounted="mounted">
      <!-- Header Start -->
      <div class="l-hd flex-shrink-0 top-0 sticky z-[3] jQ-hd"> 
        <%- require('@component/mHd.ejs')() %>
        <%- require('@component/mMarquee.ejs')({
          txt: '凡首次購買，一對一私教人教練課 <b>10</b> 堂 <b>8,000</b> 元，完課期間到館自主訓練免費'
        }) %>
      </div>
      <!-- Header End -->
      <!-- Content Start -->
      <div data-aos="fade-in" class="l-main flex flex-grow">
        <div class="l-content flex-grow overflow-hidden relative bg-[var(--black)]" v-if="store.load.isDone">
          <%- reqFile %>
        </div>
        <%- require('@component/mLoading.ejs')({
          style: {
            main: 'fixed'
          }
        }) %>
      </div>
      <!-- Content End -->
      <!-- Footer Start -->
      <div class="l-ft flex-shrink-0 relative">
        <%- require('@component/mFt.ejs')() %>
      </div>
      <!-- Footer End -->
    </div>
    <%- require('@component/mNSup.ejs')() %>
    <%- require('@component/Vendor.ejs')({
      htmlWebpackPlugin
    }) %>
  </body>
</html>