<%
  const TITLENAME = '主標 | 專案名稱';
  const TITLE = htmlWebpackPlugin.options.title || TITLENAME;
  const fileName = /(.*)(?=\.html$)/.exec(htmlWebpackPlugin.options.filename)[1];
  const reqFile = require('./views/'+ fileName +'.ejs')({
                    htmlWebpackPlugin
                  });
  const activityURL = process.env.APP_ENV === 'build' ? 'https://網址' : ''
  const ogImageURL = process.env.APP_ENV === 'build' ? `${activityURL}` : 'https://方形糖測試網址'
  const gTagID = null
-%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <% if (process.env.APP_ENV === 'dev') { -%>
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% } -%>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta property="og:title" content="<%- TITLE %>">
    <meta property="og:description" name="description" content="<%- htmlWebpackPlugin.options.description || '' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- activityURL %>">
    <meta property="og:image" content="<%- ogImageURL %>static/img/FB_share.png">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="<%- TITLE %>">
    <title><%- TITLE %></title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="canonical" href="<%- activityURL %>">
    <link rel="alternate" href="<%- activityURL %>" />
    <% if (process.env.APP_ENV === 'build' && gTagID) { -%>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%- gTagID %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', '<%- gTagID %>');
      </script>
    <% } -%>
  </head>
  <body>
    <div class="l-wrap flex flex-col min-h-screen jWrap" @vue:mounted="mounted">
      <!-- Header Start -->
      <div class="l-hd flex-shrink-0 pt:flex pt:items-center pt:justify-center t:px-[20px] t:h-[52px] m:h-[40px] top-0 sticky z-[3] jQ-hd">
        <%- require('@component/mHd.ejs')() %>
      </div>
      <!-- Header End -->
      <!-- Content Start -->
      <div class="l-main flex flex-grow bg-[#000]">
        <div class="l-content flex-grow overflow-hidden relative text-[#fff]" v-if="store.load.isDone">
          <%- reqFile %>
        </div>
        <%- require('@component/mLoading.ejs')({
          style: {
            main: 'fixed'
          }
        }) %>
      </div>
      <!-- Content End -->
      <!-- Footer Start -->
      <div class="l-ft flex-shrink-0 relative">
        <%- require('@component/mFt.ejs')() %>
      </div>
      <!-- Footer End -->
    </div>
    <%- require('@component/mNSup.ejs')() %>
    <%- require('@component/Vendor.ejs')({
      htmlWebpackPlugin
    }) %>
  </body>
</html>