<%
  const props = {
    target: /^https?/.test(link) ? ' target="_blank" rel="noopener"' : '',
    arrow: typeof arrow !== 'undefined' && arrow ? ' --arrow' : ''
  }
-%>
<% if ( typeof link !== 'undefined'  ) { -%>
  <a href="<%- link %>" <%- props.target -%> class="m-btn<%- typeof style !== 'undefined' && typeof style.main !== 'undefined' ? ` ${style.main}` : '' %>" @click="<%- typeof func !== 'undefined' ? `${func}` : '' %>">
    <div class="m-btn-cnt flex items-center justify-center relative<%- typeof style !== 'undefined' && typeof style.wrap !== 'undefined' ? ` ${style.wrap}` : '' %>">
      <em class="m-btn-txt<%- typeof style !== 'undefined' && typeof style.txt !== 'undefined' ? ` ${style.txt}` : '' %>"><%- label %></em>
    </div>
    <% if ( typeof icon !== 'undefined' ) { -%>
      <span class="m-btn-icon<%- typeof style !== 'undefined' && typeof style.icon !== 'undefined' ? ` ${style.icon}` : '' %>">
        <%- require('svg.ejs')({
          svgName: icon.name,
          style: {
            main: icon.css
          }
        }) %>
      </span>
    <% } -%>
  </a>
<% } else { -%>
  <button type="<%- type %>" class="m-btn<%- typeof style !== 'undefined' && typeof style.main !== 'undefined' ? ` ${style.main}` : '' %>" @click="<%- typeof func !== 'undefined' ? `${func}` : '' %>"<%- typeof disable !== 'undefined' && disable ? ' disabled' : '' %>>
    <div class="m-btn-cnt flex items-center justify-center relative<%- typeof style !== 'undefined' && typeof style.wrap !== 'undefined' ? ` ${style.wrap}` : '' %>">
      <em class="m-btn-txt<%- typeof style !== 'undefined' && typeof style.txt !== 'undefined' ? ` ${style.txt}` : '' %>"><%- label %></em>
    </div>
    <% if ( typeof icon !== 'undefined' ) { -%>
      <span class="m-btn-icon<%- typeof style !== 'undefined' && typeof style.icon !== 'undefined' ? ` ${style.icon}` : '' %>">
        <%- require('svg.ejs')({
          svgName: icon.name,
          style: {
            main: icon.css
          }
        }) %>
      </span>
    <% } -%>
  </button>
<% } -%>