<footer class="m-ft bg-[var(--x15)] p:px-[50px] p:pt-[50px] tm:px-[40px] tm:pt-[30px] text-[var(--white)]">
  <div class="p:flex p:justify-between p:pl-[30px]">
    <div class="tm:flex tm:flex-col tm:items-center p:w-[270px] tm:mb-[50px]">
      <a
        href="/"
        class="m-hd-logo p:inline-block m:flex m:items-center p:mb-[18px] tm:mb-[16px]"
        rel="noopener"
      >
        <%- require('@component/svg.ejs')({
          svgName: 'logo_sub',
          style: {
            main: 'text-[var(--white)] p:w-[260px] p:h-[55px] t:w-[216px] t:h-[60px] m:w-[180px] m:h-[50px]'
          }
        }) %>
        <em class="sr-only">
          <%- process.env.PROJECT_NAME %>
        </em>
      </a>
      <p class="text-[12px] p:mb-[22px] tm:mb-[30px]">追蹤我們的社群媒體，每週都會有實質的內容與教學，降低更多的運動傷害，讓我們同步更好的訓練效益！</p>
      <%- require('@component/mBtn.ejs')({
        label: '即刻預約',
        link: 'https://docs.google.com/forms/d/e/1FAIpQLSdyIMF1EHcdkUKsr6EY7b3o6dQgXuQfB6XiKzTJqid_7FO0Bg/viewform',
        style: {
          main: 'text-[18px] text-[var(--white)] p:w-[144px] p:h-[38px] t:w-[216px] t:h-[60px] m:w-[180px] m:h-[50px]'
        }
      }) %>
    </div>
    <div>
      <ul class="flex tm:flex-wrap">
        <li class="p:mx-[40px] tm:w-1/2">
          <h5 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">網站導覽</h5>
          <ul>
            <li v-for="item, index in store.nav.items">
              <a :href="item.url" class="font-black pt:text-[14px] m:text-[12px]">
                {{ item.label }}
              </a>
            </li>
          </ul>
        </li>
        <li class="p:mx-[40px] tm:w-1/2">
          <h5 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">社群媒體</h5>
          <ul>
            <li>
              <a href="https://www.facebook.com/tpfc.fit" class="font-black pt:text-[14px] m:text-[12px]">
                <%- require('svg.ejs')({
                  svgName: 'logo_fb',
                  style: {
                    main: 'inline w-[16px] h-[16px] text-[var(--xc7)]'
                  }
                }) %>
                Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/tpfc.fit/" class="font-black pt:text-[14px] m:text-[12px]">
                <%- require('svg.ejs')({
                  svgName: 'logo_ig',
                  style: {
                    main: 'inline w-[16px] h-[16px] text-[var(--xc7)]'
                  }
                }) %>
                Instagram
              </a>
            </li>
            <li>
              <a href="http://www.tiktok.com/@tpcf.fit" class="font-black pt:text-[14px] m:text-[12px]">
                <%- require('svg.ejs')({
                  svgName: 'logo_tiktok',
                  style: {
                    main: 'inline w-[16px] h-[16px] text-[var(--xc7)]'
                  }
                }) %>
                TikTok
              </a>
            </li>
          </ul>
        </li>
        <li class="p:mx-[40px] tm:mt-[20px]">
          <ul class="tm:flex">
            <li class="tm:w-1/2">
              <h5 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">營業時間</h5>
              <p class="font-black pt:text-[14px] m:text-[12px]">週一至週日</p>
              <p class="font-black pt:text-[14px] m:text-[12px]">下午 01 : 00 ~<br class="p:hidden"> 晚上 10 : 00</p>
            </li>
            <li class="p:mt-[40px] tm:w-1/2">
              <h5 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">地址電話</h5>
              <a class="block font-black p:mb-[10px] tm:mb-[10px] pt:text-[14px] m:text-[12px]" href="tel:+886-2-25222330" rel="noopener">0225222330</a>
              <a class="font-black pt:text-[14px] m:text-[12px]" href="https://maps.app.goo.gl/XJrhGD2UgVfA9BrC6" target="_blank" rel="noopener">104015<br>台北市中山區中山北路二段128巷32號1F</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <small
    class="m-ft-copyright block py-[24px] text-center text-[13px] m:px-[20px]"
  >
    <%- process.env.COPYRIGHT %>
  </small>
</footer>
