<div class="l-n-sup">
  <div class="m-n-sup">
    <div class="m-n-sup-hd">
      <p class="m-n-sup-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
      <p class="m-n-sup-description">建議您提升瀏覽器使用版本為 <%= process.env.IE_VERSION %> (含) 以上，或使用其他瀏覽器軟體 Google Chrome、Firefox 以獲得最佳瀏覽體驗，謝謝您的配合。
      </p>
    </div>
    <div class="m-n-sup-bd">
      <div class="m-n-sup-msg">
        <p class="m-n-sup-msg-tit"><b>相關說明</b></p>
        <div class="m-n-sup-item">
          <p class="m-n-sup-item-title"><b>我如果不升級對於瀏覽上會有什麼影響？</b></p>
          <p class="m-n-sup-item-cnt">使用 <%= process.env.IE_VERSION %> 版本下的瀏覽器瀏覽本網站，可能部分網頁的呈現會有破圖或版面跑版的情況，某些網頁互動功能無法正確顯示與使用。
          </p>
        </div>
        <div class="m-n-sup-item">
          <p class="m-n-sup-item-tit"><b>我要如何升級我的瀏覽器？</b></p>
          <p class="m-n-sup-item-cnt">請您點擊以下連結，下載並升級您的 IE 瀏覽器，或下載 Google Chrome、Firefox 瀏覽器。</p>
        </div>
      </div>
      <%
        const browsers = [{
          text: 'Microsoft Edge',
          name: '--edge',
          href: 'https://www.microsoft.com/zh-tw/edge?form=MA13DG&ocid=SMCIEDownload10-Download'
        }, {
          text: 'Google Chrome',
          name: '--chrome',
          href: 'https://www.google.com.tw/chrome/browser/desktop/'
        }, {
          text: 'Mozilla Firefox',
          name: '--firefox',
          href: 'https://www.mozilla.org/zh-TW/firefox/new/'
        }];
      -%>
        <div class="m-n-sup-fig-list">
          <ul>
            <% for(let i = 0; i < browsers.length; i += 1) { -%>
              <% const { href, text, name } = browsers[i]; -%>
              <li>
                <a href="<%= href %>" class="m-n-sup-fig <%= name %>">
                  <p class="m-n-sup-description">
                    <%= text %>
                  </p>
                </a>
              </li>
            <% } -%>
          </ul>
        </div>
    </div>
    <div class="m-n-sup-ft">
      <div class="m-n-sup-copyright">
        <p class="m-n-sup-info"><%= process.env.COPYRIGHT %></p>
        <p class="m-n-sup-browser"><%= process.env.IE_VERSION %>+, Chrome, Safari, Firefox</p>
      </div>
    </div>
  </div>
</div>